{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky - Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <!-- Checks if the user is logged -->
    {% if user.is_authenticated %}
        <!-- If user is logged, it will display a Logout button -->   
        <button type="submit"><a href="{% url 'logout_user' %}">Logout</a></button>
    {% else %}
        <!-- If not, it will tell the user to login -->
        <button type="submit"><a href="{% url 'sky_login' %}">Login</a></button>
    {% endif %}
    <!-- Loads the JavaScript elements-->    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>